.join-bg-image {
  object-position: center 53%;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

@media (max-width: 639px) {
  .join-bg-image {
    transform: translateY(-8%);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%) !important;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%) !important;
  }
}
